@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


/* GLOBAL DESIGN FOR CONTAINER AND ALL TEXTUIs */

#textui-container {
    position: absolute;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    background: rgb(1,52,115);
    background: linear-gradient(360deg, rgba(1,52,115,1) 0%, rgba(0,74,161,1) 100%);
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    color: #feffff;
    top: 50%;
    right: 5%;
    padding: 10px;
    height: 0px; /* DO NOT CHANGE */
    min-width: 250px;
    border:4px solid #012f63;
    font-weight: 350;
}

#textui-container .textui {
    display: flex;
    white-space: nowrap;
    margin: 5px;
    height: 27px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

#textui-container .textui.visible {
    opacity: 1;
    transform: translateY(0);
}


/* KEYBOARD ELEMENT */

#textui-container .textui .key {
    color: #000000;
    background: #f8fff8;
    height: 23px;
    margin-right: 7px;
    padding:0px 8px;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    text-shadow: #00000000 1px 0 10px;
}

#textui-container .textui.arg-pressed .key {
    background-color: #3043ff;
    color:#ffffff;
    transition: 0.1s ease;
}


/* PROGRESS BAR ELEMENT */

#textui-container .textui .progress-bar {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 27px;
    margin-bottom: 10px;
}

#textui-container .textui .progress-text {
    font-size: 14px;
    text-align: center;
}

#textui-container .textui .progress-background {
    position: absolute;
    top: 80%;
    left: 0;
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #3043ff;
    box-shadow: inset 0px 0px 0px 1px #012f63;
}

#textui-container .textui .progress-bar-fill {
    position: absolute;
    top: 80%;
    left: 0;
    height: 10px;
    border-radius: 5px;
    background: #012f63;
    transition: width 0.3s ease;
}

#textui-container .textui .progress-bar-fill.no-text,
#textui-container .textui .progress-background.no-text {
    top: 50%;
}


/* "IMPORTANT" CLASS TO USE IN TEXT PARAMETERS */

#textui-container .textui .important {
    color: #fbfffc;
    background: #012f63;
    height: 25px;
    margin:0 5px;
    padding:0px 12px;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}